{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse  collapse w-100 order-1 order-md-0 dual-collapse2">
        <div class="mx-auto order-0">
            <p class="navbar-brand mr-auto"><b>LITR</b>eview</p>
        </div>
        {% with request.get_full_path as path %}
        <ul class="navbar-nav ml-auto order-1">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'flux_view' %}">
                    {% if "flux" in path %}
                    <b>Flux</b>
                    {% else %}
                    Flux
                    {% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'posts_view' %}">
                    {% if "posts" in path %}
                    <b>Posts</b>
                    {% else %}
                    Posts
                    {% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'suscribe_view' %}">
                    {% if "abonnements" in path %}
                    <b>Abonnements</b>
                    {% else %}
                    Abonnements
                    {% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_logout' %}">Se déconnecter</a>
            </li>
        </ul>
        {% endwith %}
    </div>
</nav>
