<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse  collapse w-100 order-1 order-md-0 dual-collapse2">
        <div class="mx-auto order-0">
            <p class="navbar-brand mr-auto"><b>LITR</b>eview</p>
        </div>
        <ul class="navbar-nav ml-auto order-1">
            <li class="nav-item">
                <a class="nav-link" href="">Flux</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Abonnements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_logout' %}">Se déconnecter</a>
            </li>
        </ul>
    </div>
</nav>
