{% extends "generalist_template.html" %}
{% load static %}
{% block content %}
<div class="container-fluid main-container">
    <div class="row no-gutters col-12 d-flex justify-content-center">
        <h4 class="text-center"><i>Inscrivez-vous</i></h4>
        <div class="col-xl-4 col-md-4 col-sm-12">
            <form method="POST" action="">
                {% csrf_token %}
                {{ form.username }}
                <div id="username_error"></div>
                {{ form.password }}
                {{ form.password2 }}
                <div id="password_error"></div>
                <div class="row no-gutters col-12 mt-3 d-flex flex-sm-column flex-xl-row flex-md-row justify-content-end">
                    <div class="text-align-center col-xl-4 col-md-5 col-sm-12 col-12 d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary return-button col-12 mb-1">Retourner</button>
                    </div>
                    <div class="col-xl-4 col-md-5 col-sm-12 col-12 d-flex justify-content-center">
                        <button type="button" class="btn btn-success signup-button col-12 mb-1 mx-auto">Supprimer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/scripts/create_user.js' %}" type="text/javascript"></script>
{% endblock %}