{% extends "generalist_template.html" %}
{% load static %}
{% block content %}
<div class="container-fluid d-flex justify-content-center">
    <div class="row col-xl-6 col-md-8 col-sm-10 d-flex justify-content-center mt-5">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message|safe }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="GET" action="{% url 'create_ticket_view' %}" class="btn-space col-xl-5 col-md-5 col-sm-10">
            <button type="submit" class="btn btn-secondary col-12 mb-1">Demander une critique</button>
        </form>
        <form method="GET" action="{% url 'create_review_view' %}" class="btn-space col-xl-5 col-md-5 col-sm-10">
            <button type="submit" class="btn btn-secondary col-12 mb-3">Créer une critique</button>
        </form>
        {% for post in posts %}
            {% if post.is_review %}
            <div class="row col-10 d-flex justify-content-center pb-1 mt-1" style="border:2px solid black;">
                <div class="row no-gutters col-12 mx-auto mb-1">
                   <small class="d-flex justify-content-start col-xl-8 col-md-8 col-sm-12">
                    {% if post.user_id == request.user.id %}
                    Vous avez publi&eacute; une critique
                       {% else %}
                       {{ post.user__username }} a publi&eacute; une critique
                       {% endif %}
                   </small>
                    <small class="d-flex justify-content-end col-xl-4 col-md-4 col-sm-12">
                        {{ post.time_created|date }}
                    </small>
                </div>
                <div class="row no-gutters col-12 d-flex justify-content-start">
                    <p class="d-flex justify-content-start order-0 col-xl-12 col-sm-12 align-items-center">
                        <label for="rating">{{ post.headline}} - </label>
                        <span class="col-xl-6 col-md-6 col-sm-12" id="rating">
                        {% for i in rating_range %}
                            {% if i < post.rating %}
                            <i class="fas fa-star star-color"></i>
                            {% else %}
                            <i class="fas fa-star"></i>
                            {% endif %}
                        {% endfor %}
                        </span>
                    </p>
                </div>
                <div class="row no-gutters col-12 d-flex justify-content-start">
                    {% autoescape off %}
                    <p>{{ post.body }}</p>
                    {% endautoescape %}
                </div>
                <div class="row col-12 d-flex justify-content-center" style="border:1px solid black;">
                    <small class="d-flex justify-content-start col-12">
                        Ticket - {{ post.ticket__user_id__username }}
                    </small>
                    <small class="d-flex justify-content-start col-12">
                        {{ post.ticket__title }}
                    </small>
                    <div class="d-flex justify-content-center col-12">
                        <img src="{% get_media_prefix %}{{ post.ticket__image }}" class="img-size img-thumbnail"/>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row col-10 d-flex justify-content-center pb-1 mt-1" style="border:2px solid black;">
                <div class="row no-gutters col-12 mx-auto mb-1">
                   <small class="d-flex justify-content-start col-8">
                    {% if post.user_id == request.user.id %}
                    Vous avez demand&eacute; une critique
                       {% else %}
                       {{ post.user__username }} a demand&eacute; une critique
                       {% endif %}
                   </small>
                    <small class="d-flex justify-content-end col-4">
                        {{ post.time_created|date }}
                    </small>
                </div>
                <div class="row no-gutters col-12 d-flex justify-content-start">
                    {% autoescape off %}
                    <p>{{ post.description }}</p>
                    {% endautoescape %}
                </div>
                {% if request.user.id != post.user_id %}
                <div class="row no-gutters col-12 d-flex justify-content-end mb-2">
                    <form method="GET" action="{% url 'answer_review_view' id=post.id %}">
                        <button type="submit" class="btn btn-secondary col-xl-4 col-md-4 col-sm-2 answer-to-review">Créer une critique</button>
                    </form>
                </div>
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}
        <div class="mt-3 blank-space"></div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/scripts/flux.js' %}" type="text/javascript">
</script>

{% endblock %}