{% extends "generalist_template.html" %}
{% load static %}
{% block content %}
<div class="container-fluid main-container">
    <div class="row no-gutters d-flex justify-content-center">
        <h4 class="text-center"><i>Inscrivez-vous</i></h4>
        <div class="col-xl-4 col-md-4 col-sm-12">
            <form method="POST" action="">
                {% csrf_token %}
                {{ signup_form.username }}
                <div id="username_error"></div>
                {{ signup_form.password }}
                {{ signup_form.password2 }}
                <div id="password_error"></div>
                <div class="col-12 text-center mt-2 d-flex justify-content-end">
                    <form method="GET" action="{% url 'login_view' %}" class=" text-align-center col-6">
                        <button type="button" class="btn btn-success return-button col-4 " value="back_to_login_view">Retourner</button>
                    </form>
                    <div class=" text-align-center col-6">
                        <button type="button" class="btn btn-success text-align-center col-4 signup-button" value="signup">S'inscrire</button>
                    <div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/scripts/create_user.js' %}" type="text/javascript"></script>
{% endblock %}