{% extends "generalist_template.html" %}
{% load static %}
{% block content %}
<div class="container-fluid main-container">
    <div class="row no-gutters col-12 d-flex justify-content-center">
        <div class="row no-gutters col-12">
            <h2 class="text-center"><b>LITR</b>eview</h2>
        </div>
    </div>
    <hr>
    <div class="row no-gutters d-flex justify-content-center">
        <h4 class="text-center"><i>Inscrivez-vous</i></h4>
        <div class="col-xl-4 col-md-4 col-sm-12">
            <form method="POST" action="">
                {% csrf_token %}
                {{ signup_form.username }}
                <div id="username_error"></div>
                {{ signup_form.password }}
                {{ signup_form.password2 }}
                <div id="password_error"></div>
                

                <div class="col-12 text-center mt-2 d-flex justify-content-end">
                    <form method="GET" action="{% url 'login_view' %}" class=" text-align-center col-6">
                        <button type="button" class="btn btn-success return-button col-4 " value="back_to_login_view">Retourner</button>
                    </form>
                    <div class=" text-align-center col-6">
                        <button type="button" class="btn btn-success text-align-center col-4 signup-button" value="signup">S'inscrire</button>
                    <div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    $('#username_error, #password_error').hide()

    $('.return-button').on('click', function(){
        let url = "{% url 'login_view' %}";
        window.location.href = url;
    });

    $('.signup-button').on('click', function(){
        let url = "{% url 'registration_view' %}";
        let redirect_url = "{% url 'login_view' %}";
        let username = $('#id_username').val();
        let password = $('#id_password').val();
        let password2 = $('#id_password2').val();
        $.ajax({
            url: url,
            type: 'POST',
            dataType : 'json',
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            data:{
              'csrfmiddlewaretoken': '{{ csrf_token }}',
              'username': username,
              'password': password,
              'password2': password2
            },
            success(json){
                if(json.status == 1){
                    window.location = redirect_url
                }else{
                    let password_elem = $('#password_error')
                    let username_elem = $('#username_error')
                    $.each(json.errors, function( index, value ) {
                      if(index === "password" || index === "password2" || index === "__all__"){
                        password_elem.html(value);
                        password_elem.show().fadeOut(10000);
                      }else if(index === "username"){
                        username_elem.html(value);
                        username_elem.show().fadeOut(10000);
                      }
                    });
                }
                
            }

        })
    })


</script>

{% endblock %}