{% extends "generalist_template.html" %}
{% load static %}
{% block content %}
<div class="container-fluid main-container">
    <div class="row no-gutters d-flex justify-content-center">
        {% if user_creation_success %}
        <div class="alert alert-success col-10 text-center welcome-msg" role="alert">
            <p>Vous êtes maintenant inscrit</p>
        </div>
        {% endif %}
        <div class="col-4 col-md-4 col-sm-12">
            <div class="col-12 text-center">
                <p><b>Inscrivez-vous maintenant</b></p>
            </div>
            <div class="col-12 text-center">
                <form method="GET" action="{% url 'registration_view' %}">
                    <button type="submit" class="btn btn-success">S'inscrire</button>
                </form>
            </div>
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12">
            {% if request.user.is_authenticated %}
            <div class="col-12 text-center">
                <p><b>Bienvenue, {{ request.user.username }}</b></p>
            </div>
            <form method="GET" action="{% url 'flux_view' %}" class="col-12 text-center mt-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success text-align-right" value="connect">Acceder à mon dashboard</button>
            </form>
            {% else %}
            <div class="col-12 text-center">
                <p><b>Connectez-vous</b></p>
            </div>
            <form method="POST" action="" name="login-form" id="login-form">
                {% csrf_token %}
                {{ signin_form.username }}
                {{ signin_form.password }}
                <div class="alert alert-danger login-policy text-center mt-1" role="alert">
                    <p>identifiant incorrect, veuillez vous assurer d'avoir entré les bonnes informations.</p>
                    <p>Sinon, <a href="{% url 'registration_view' %}">vous pouvez en créer un en cliquant ici</a></p>
                </div>
            <div class="col-12 text-center mt-2 d-flex justify-content-end">
                <button type="button" class="btn btn-success text-align-right login-button" value="connect">Se connecter</button>
            </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    $('.login-policy').hide()

    $('.login-button').on('click', function(){
        let loginSocket = new WebSocket("ws://" + window.location.host + "/login/");
        let u = $('#id_username').val()
        let pswd = $('#id_password').val()
        if(u != null && pswd != null ){
            
            loginSocket.onopen = function() {
                let message = { 'username': u,'password': pswd }
                loginSocket.send(JSON.stringify(message));
            }
        }
    })




/*
$('.login-button').on('click', function(){
    let url = "{% url 'login_view' %}";
    let username = $('#id_username').val();
    let password = $('#id_password').val();
    $.ajax({
        url: url,
        type: 'POST',
        dataType : 'json',
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
        data:{
          'csrfmiddlewaretoken': '{{ csrf_token }}',
          'username': username,
          'password': password,
        },
        success(json){
            if(json.status == 1){
                let url_redirect = "{% url 'flux_view' %}";
                window.location = url_redirect
            }else{
                if(json.errors){
                    $('.login-policy').show().fadeOut(5000);
                }
            }

        }

    })
})
*/
$('.welcome-msg').fadeOut(5000);

</script>
{% endblock %}