{% extends "generalist_template.html" %}
{% load static %}
{% load customtags %}
{% block content %}
<div class="container-fluid">
    <div class="row no-gutters mt-2">
        <h3 class="text-center">Modifier une critique</h3>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message|safe }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="row no-gutters mt-1 d-flex justify-content-center">
        <form action="{% url 'update_post_view' pk=form.instance.id %}" enctype="multipart/form-data" method="POST">
            <div class="review-form col-8 mx-auto">
                {% csrf_token %}
                <div class="row no-gutters col-12 mx-auto mb-2">
                   <small>Vous &ecirc;tes en train de modifier votre réponse</small>
                </div>
                <div class="row col-8 mx-auto mb-3 d-flex justify-content-center" style="border:1px solid black;">
                    <small class="d-flex justify-content-start col-12">
                        Ticket - {{ form.instance.ticket.user.username }}
                    </small>
                    <small class="d-flex justify-content-start col-12">
                        {{ form.instance.ticket.title }}
                    </small>
                    <div class="row no-gutters col-12 d-flex justify-content-start">
                        {% autoescape off %}
                        <p>{{ form.instance.ticket.description }}</p>
                        {% endautoescape %}
                    </div>
                    <div class="d-flex justify-content-center col-12 mt-1 mb-1">
                        <img src="{% get_media_prefix %}{{ form.instance.ticket.image }}" class="img-size img-thumbnail"/>
                    </div>
                </div>
            </div>
            <div class="review-form col-8 mx-auto mb-3">
                <div class="row no-gutters col-12 mx-auto mb-1">
                   <small>Critique</small>
                </div>
                <div class="row no-gutters mt-2 col-12 mx-auto">
                    <div class="col-xl-12 col-md-12 col-sm-10">
                        <label for="id_headline" class="justify-content-start"><h5><b>Titre</b></h5></label>
                        <input type="text" class="form-control" id="id_headline" name="headline" value="{{ object.headline }}" required/>
                    </div>
                </div>
                <div class="row no-gutters mt-2 col-12 mx-auto">
                    <label for="id_rating" class="justify-content-start"><h5><b>Note</b></h5></label>
                    <div class="col-xl-12 col-md-12 col-sm-10 d-flex justify-content-center">
                        {% for i in 6|loop:"1" %}
                        <label class="radio-inline col-2">
                            {% if i == object.rating %}
                            <input type="radio" class="review-rating" id="id_rating" name="rating" value="{{ i }}" checked>
                            {% else %}
                            <input type="radio" class="review-rating" id="id_rating" name="rating" value="{{ i }}">
                            {% endif %}
                            - {{ i }}
                        </label>
                        {% endfor %}
                    </div>
                </div>
                <div class="row no-gutters mt-3 col-12 d-flex mx-auto">
                    <div class="col-xl-12 col-md-12 col-sm-10">
                        <label for="id_body" class="justify-content-start"><h5><b>Description</b></h5></label>
                        <textarea name="body" class="form-control" id="id_body" spellcheck="false" value="{{ body_content.body }}" required>
                        </textarea>
                    </div>
                </div>
                <div class="row no-gutters mt-3 mb-3 col-12">
                    <div class="col-xl-12 col-md-12 col-sm-10">
                        <div class="col-xl-12 col-md-3 col-sm-10 d-flex justify-content-end">
                            <input type="hidden" id="post_id" name="post_id" value="{{ form.instance.id}}" />
                            <button type="submit" class="btn btn-secondary col-xl-4 col-md-4 col-sm-6 answer-ticket-button">Envoyer</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="mt-3 blank-space"></div>
</div>
{% endblock %}
{% block javascript %}
<script>
   $(window).on('load', function(){

        body_editor = CKEDITOR.replace('id_body',
        {
            customConfig : 'config_custom.js',
            height: '20vh',
        })

        "{% autoescape off %}"
        let data = `{{ body_content.body|safe }}`;
        body_editor.setData(data);
        "{% endautoescape %}"
    });
</script>
{% endblock %}