<!doctype html>
<html lang="fr" SameSite=Lax Secure>
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" SameSite=Lax Secure >
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
        <script src="{% static 'js/jquery/jquery-3.6.0.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'js/jquery/popper.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'js/bootstrap/bootstrap.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'js/jqueryoverlay.min.js'%}" type="text/javascript"></script>
        <link rel="stylesheet" href="{% static 'css/fontawesome/css/all.css' %} " type="text/css"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css'%}" type="text/css">
        <script src="{% static 'js/ckeditor/ckeditor.js'%}" type="text/javascript"></script>
    </head>
    <body>
        {% block title %}
            <title>LITReview</title>
            {# create variable with project path, named = "path" #}
            {% with request.get_full_path as path %}
                {% block not_editable_js %}
                <script>
                    $('.logout').on('click', function(){
                        $.ajax({
                            type:'POST',
                            url:'{% url "user_logout" %}',
                            data:{
                                csrfmiddlewaretoken: '{{ csrf_token }}',
                                action: 'post'
                            },
                            success(json){
                            }
                        });
                    })
                </script>
                {% endblock %}
                {% include "jsvar.html." %}
                {% if user.is_authenticated %}
                    {% if 'dashboard' in path %}
                        {% include "logged-in-top-pannel.html" %}
                    {% else %}
                        {% include "base-top-pannel.html" %}
                    {% endif %}
                {% else %}
                    {% include "base-top-pannel.html" %}
                {% endif %}
            {% endwith %}
        {% endblock %}
        
        {% block content %}
        </body>
        </html>
        {% endblock %}
        
        {% block javascript %}{% endblock %}
