// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .img-thumbnail{
        width:80vw;
        height:100vh;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .img-thumbnail{
        width:80vw;
        height:100vh;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .img-size{
        width:8vw;
        height:10vh;
    }

    .nav-link:hover {
        transform: scale(1.1);
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .img-size{
        width:5vw;
        height:5vh;
    }

    .nav-link:hover {
        transform: scale(1.1);
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .img-size{
        width:5vw;
        height:5vh;
    }

    .nav-link:hover {
        transform: scale(1.1);
    }
}


.main-container {
    height: fille-container;
}

.form-input-text {
    text-align: center;
}

li {
    list-style: none;
}

.alert {
    text-justify: auto;
}

.nav-link:hover {
    color: whitesmoke;
}

.btn-space {
    margin-right: 5px;
}

.review-form{
    border:1px solid black;
}

.hidden-input-file{
    display:none;
}

.star-color{
    color:orange
}

.color-swap{
    text-shadow: 1px 1px 2px black;
    border:3px black solid;
}

.color-swap-1{
    background-color:#2e343a;
    color:whitesmoke;
}
.color-swap-2{
    background-color:#90969b;
    color:whitesmoke;
}